.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 8%;
}

.input {
	font-size: 1em;
}

.errorContainer {
	font-size: 70%;
	color: red;
	text-align: left;
}

.errorContainer__error {
	margin: 0;
}

button:focus {
	outline: 2px solid purple;
	outline-offset: 2px;
}
